
<div class="header-2">
    <button style="border-radius: 10px;background-color: #F0BA4E;" (click)="isShowImg = !isShowImg" >скрыть/покозать мужика
      
    </button>
    
    <img *ngIf="isShowImg" src="assets\Rectangle 5.png" alt="background-imge">
    
  </div>
  
  
  
  <div class="features-container">
    <div class="feature-item">
      <img src="assets\Mask group.png" alt="Большой ассортимент">
      <div>
        <span style="font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #3C3C3B;
        ">Большой ассортимент</span>
        Строительных материалов всегда в наличии
      </div>
    </div>
    <div class="feature-ite">
      <img src="assets\Mask group (2).png" alt="Доставка стройматериалов">
      <div>
        <span style="font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #3C3C3B;
        ">Доставка стройматериалов</span>
        <br>
        в течении четырех часов или в <br> любое удобное время
      </div>
    </div>
    <div class="feature-item">
      <img src="assets\Mask group (3).png" alt="Система качества">
      <div>
        Многоуровневая 
        <span style="font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;color: #3C3C3B;
        ">система Управления качеством</span>
         по стандарту ISO 9001
        </div>
      </div>
    </div>
    
    
    
    <div class="content-continer">
      <div class="item-cards">
        <div class="item-cards-pagination">
          <!-- <button class="item-cards-pagination-button activ-button" *ngFor="let item of newpages">{{item}}</button> -->
          
          <button class="item-cards-pagination-button 
          activ-bitton">5</button>
          <button class="item-cards-pagination-button">4</button>
          <button class="item-cards-pagination-button">3</button>
          <button class="item-cards-pagination-button">2</button>
          <button class="item-cards-pagination-button">1</button>
        </div>
        
        
        
        
        
      <div class="item-cards-grid">
        <div class="item-cards-left">
          <div class="item-cards_grid-left-text">
            Строительный отделочный инструмент
            <!-- <img src="/assets/image_19.png" alt="imge">
          </div>
          <a href=""       class="item-cards_grid-left-text-2">Перейти в каталог</a> -->
  <div class="image-container">
    <img src="assets\image_19.png" alt="أداة التشطيب"><div> <a href="" class="overlay-text" style="    right: 315px;
      /* */
      margin-top: 125px;">
      Перейти в катало 
    </a></div>
    
  </div>
  </div>
  </div>
  
  
  
  <div class="item-cards_grid-right">
    <div class="item-cards_grid-right-block">
      <div class="card-1_text-1"> Эмали</div>
      <a href="" style="font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration:none;
    
    width: 127px;
    position: absolute;
    right: 655px;
    margin-top: 160px;
    color: #3C3C3B;
    ">Перейти в каталог</a>
    <img class="card-1_img-1" src="assets\image14.png" alt="">
   </div>
  
  
  <div class="item-cards_grid-right-block">
    <div class="card-2_text-2">
      Лакокрасочные материалы
    </div>
    <a href="" style="
  
   font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration: none;
      width: 127px;
      position: absolute;
      color: #3C3C3B;
      margin-left: 15px;
      margin-top: 81px;
    ">Перейти в каталог</a>
    <img class="card-2_img-2" src="assets\image 17.png" alt="">
  </div>
  
  
  <div class="item-cards_grid-right-block">
    <div class="card-3_text-3">Пены, клеи и герметики</div>
    <a href="" style="
  
   font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration: none;
      width: 127px;
      position: absolute;
      color: #3C3C3B;
      margin-left: 15px;
      margin-top: 81px;
    ">Перейти в каталог</a>
    <img class="card-3_img-3" src="assets\image 18.png" alt="">
  </div>
  
  
  <div class="item-cards_grid-right-block">
    <div class="card-4_text-4">Розетки и выключатели</div>
    <a href="" style="    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration: none;
    width: 127px;
    position: absolute;
    right: 202px;
    margin-top: 118px;
    color: #3C3C3B;
    ">Перейти в каталог</a>
    <img class="card-4_img-4" src="assets\image 15.png" alt="">
  </div>
      </div>
    </div>  
  
  
  
  
  
  
    <div class="curut">
      <div class="sahm-1">
        <img src="assets\Frame 48.png" >
      </div>
    <div class="products-section">
      <h2 class="section-title">Популярные товары</h2><p style="    position: absolute;
      width: 218px;
      height: 22px;
      top: 6px;
      left: 1148px;
      font-family: Inter;
      font-size: 18px;
      font-weight: 600;
      line-height: 21.78px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #D8C497;
      margin-left: -65px;
      margin-top: 22px;">Посмотреть все товары</p>
      <div class="products-container">
        <!-- الكرت الأول -->
        <div class="product-card">
          <div class="product-badge-1">%</div> 
          <img class="like-imge" src="assets\Vector.svg" alt="">
          <img src="assets\image 13 (2).png" alt="Продукт" class="product-image">
          <h3 class="product-title">Круг зачистной 125x6x22</h3>
          <p class="product-article">Артикул 00004</p> <p class="text-prise" >Цена за штуку</p>
          <p class="product-price">
            <span class="old-price">52 руб.</span>
            <span class="new-price">48 руб.</span>
          </p>
          <div class="product-quantity">
            <button class="quantity-btn">-</button>
            <span class="quantity">1</span>
            <button class="quantity-btn">+</button>
          </div>
          <button class="add-to-cart">В корзину</button>
        </div>
  
        <!-- الكرت الثاني -->
        <div class="product-card">
          <div class="product-badge-1">%</div> 
          <img class="like-imge" src="assets\Vector.svg" alt="">
          <img src="assets\image 13 (2).png" alt="Продукт" class="product-image">
          <h3 class="product-title">Круг зачистной 125x6x22</h3>
          <p class="product-article">Артикул 00004</p> <p class="text-prise" >Цена за штуку</p>
          <p class="product-price">
            <span class="old-price">52 руб.</span>
            <span class="new-price">48 руб.</span>
          </p>
          <div class="product-quantity">
            <button class="quantity-btn">-</button>
            <span class="quantity">1</span>
            <button class="quantity-btn">+</button>
          </div>
          <button class="add-to-cart">В корзину</button>
        </div>
  
        <!-- الكرت الثالث -->
        <div class="product-card">
          <div class="product-badge">Новинка</div> 
          <img class="like-imge" src="assets\Vector.svg" alt="">
          <img src="assets\image 13 (2).png" alt="Продукт" class="product-image">
          <h3 class="product-title">Круг зачистной 125x6x22</h3>
          <p class="product-article">Артикул 00004</p> <p class="text-prise" >Цена за штуку</p>
          <p class="product-price">
            <span class="old-price">52 руб.</span>
            <span class="new-price">48 руб.</span>
          </p>
          <div class="product-quantity">
            <button class="quantity-btn">-</button>
            <span class="quantity">1</span>
            <button class="quantity-btn">+</button>
          </div>
          <button class="add-to-cart">В корзину</button>
        </div>
        <div class="sahm-2"><img src="assets\Frame 46.svg" alt=""></div>
        <!-- الكرت الرابع -->
        <div class="product-card">
          <div class="product-badge">Новинка</div> 
          <img class="like-imge" src="assets\Vector.svg" alt="">
          <img src="assets\image 13 (2).png" alt="Продукт" class="product-image">
          <h3 class="product-title">Круг зачистной 125x6x22</h3>
          <p class="product-article">Артикул 00004</p> <p class="text-prise" >Цена за штуку</p>
          <p class="product-price">
            <span class="old-price">52 руб.</span>
            <span class="new-price">48 руб.</span>
          </p>
          <div class="product-quantity">
            <button class="quantity-btn">-</button>
            <span class="quantity">1</span>
            <button class="quantity-btn">+</button>
          </div>
          <button class="add-to-cart">В корзину</button>
         
        </div>
      </div>
    </div>
  </div>
  
  
  
   <div class="informison">
    <div>
      <p style="width: 448px;
      height: 34px;
      top: 28px;
      left: 28px;
      font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  line-height: 33.89px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3C3C3B;
      padding: 20px;
        ">Более 10 000 наименований </p>
      
      <p style="width: 618px;
      height: 24px;
      top: 78px;
      left: 28px;
      font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #A1A0A0;
  padding-left: 20px;
  
      
      ">Инструмент для вашего бизнеса, разнообразных марок</p>
             <br><br><br>
      <a href="" style="
      width: 167px;
  height: 22px;
  top: 201px;
  left: 28px;
      font-family: Inter;
      font-size: 18px;
      font-weight: 600;
      line-height: 21.78px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #F0BA4E;
      padding-left: 20px;
      text-decoration: none;
      
      ">Перейти в каталог</a>
    </div>
    <div>
      <img src="\assets\pngwing 1.png" class="informison-imge">
    </div>
   </div>
  
  <div class="curut-2" >
    <div class="sahm-1">
      <img src="assets\Frame 48.png"  style="    position: absolute;
      margin-left: 100px;
      margin-top: -23px;">
    </div>
  <div class="products-section">
    <h2 class="section-title">Новинки</h2><p style=" 
    position: absolute;
      width: 218px;
      height: 22px;
      top: 6px;
      left: 1148px;
      font-family: Inter;
      font-size: 18px;
      font-weight: 600;
      line-height: 21.78px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #D8C497;
      margin-left: 35px;
      margin-top: 2285px;
    ">Посмотреть все товары</p>
    <div class="products-container">
      <!-- الكرت الأول -->
      <div class="product-card">
        <div class="product-badge">Новинка</div> 
        <img class="like-imge" src="assets\Vector.svg" alt="" >
        <img src="assets\image 13 (2).png" alt="Продукт" class="product-image">
        <h3 class="product-title">Круг зачистной 125x6x22</h3>
        <p class="product-article">Артикул 00004</p> <p class="text-prise" >Цена за штуку</p>
        <p class="product-price">
          <span class="old-price">52 руб.</span>
          <span class="new-price">48 руб.</span>
        </p>
        <div class="product-quantity">
          <button class="quantity-btn">-</button>
          <span class="quantity">1</span>
          <button class="quantity-btn">+</button>
        </div>
        <button class="add-to-cart">В корзину</button>
      </div>
  
      <!-- الكرت الثاني -->
      <div class="product-card">
        <div class="product-badge">Новинка</div> 
        <img class="like-imge" src="assets\Vector.svg" alt="">
        <img src="assets\image 13 (2).png" alt="Продукт" class="product-image">
        <h3 class="product-title">Круг зачистной 125x6x22</h3>
        <p class="product-article">Артикул 00004</p> <p class="text-prise" >Цена за штуку</p>
        <p class="product-price">
          <span class="old-price">52 руб.</span>
          <span class="new-price">48 руб.</span>
        </p>
        <div class="product-quantity">
          <button class="quantity-btn">-</button>
          <span class="quantity">1</span>
          <button class="quantity-btn">+</button>
        </div>
        <button class="add-to-cart">В корзину</button>
      </div>
  
      <!-- الكرت الثالث -->
      <div class="product-card">
        <div class="product-badge">Новинка</div> 
        <img class="like-imge" src="assets\Vector.svg" alt="">
        <img src="assets\image 13 (2).png" alt="Продукт" class="product-image">
        <h3 class="product-title">Круг зачистной 125x6x22</h3>
        <p class="product-article">Артикул 00004</p> <p class="text-prise" >Цена за штуку</p>
        <p class="product-price">
          <span class="old-price">52 руб.</span>
          <span class="new-price">48 руб.</span>
        </p>
        <div class="product-quantity">
          <button class="quantity-btn">-</button>
          <span class="quantity">1</span>
          <button class="quantity-btn">+</button>
        </div>
        <button class="add-to-cart">В корзину</button>
      </div>
      <div class="sahm-2"><img src="assets\Frame 46.svg" alt=""></div>
      <!-- الكرت الرابع -->
      <div class="product-card">
        <div class="product-badge">Новинка</div> 
        <img class="like-imge" src="assets\Vector.svg" alt="">
        <img src="assets\image 13 (2).png" alt="Продукт" class="product-image">
        <h3 class="product-title">Круг зачистной 125x6x22</h3>
        <p class="product-article">Артикул 00004</p> <p class="text-prise" >Цена за штуку</p>
        <p class="product-price">
          <span class="old-price">52 руб.</span>
          <span class="new-price">48 руб.</span>
        </p>
        <div class="product-quantity">
          <button class="quantity-btn">-</button>
          <span class="quantity">1</span>
          <button class="quantity-btn">+</button>
        </div>
        <button class="add-to-cart">В корзину</button>
       
      </div>
    </div>
  </div>
  </div>
  