// <!-- Angular Material تنسيقي مع استخدام  -->

mat-form-field{
    width: 400px; ;

}
.btn-create{
    width: 400px;
    height: 50px;
    font-size: large;
}
.btn-create:hover{
    color: white;
    background-color:#f0ba4e ;
    font-size: larger;
}
















// <!-- Angular Material تنسيقي  بدون استخدام  -->

// .btn-create{
//     padding-top: 10px;
//     width: 210px;
//     border-radius: 50px;
//     height: 50px;
//     background-color: white;
//     font-size: larger;
//     margin-top: 30px;

// }
// .btn-create:hover{
//     color: rgb(0, 0, 0);
//     background-color:#F0BA4E;
//     font-size: larger;
// }
// .alert{
//     color: red;
// }

// input{
//  border-radius: 30px;
//  height: 30px;
//  text-align: center;
//  background-color: #F0BA4E;
// }
// p{
//     font-size: larger;
//     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
// }