
// <!-- Angular Material تنسيقي مع استخدام  -->
mat-form-field{
    width: 400px; ;

}
.btn-create{
    width: 400px;
    height: 50px;
    font-size: large;
    display: flex;
    align-items: center;
    padding: 10px; /* إضافة حواف داخلية */
}
.btn-create:hover{
    color: white;
    background-color:#f0ba4e ;
    font-size: larger;
}
.btn-create mat-icon {
    margin-left: 5px; /* إضافة مسافة بين النص والأيقونة */
}







// <!-- Angular Material تنسيقي  بدون استخدام  -->
// form{
//     display: flex;
//     flex-direction: column;
// }
// .btn-create{
//     width: 210px;
//     border-radius: 50px;
//     height: 50px;
//     background-color: white;
//     font-size: large;
// }
// .btn-create:hover{
//     color: white;
//     background-color:#f0ba4e ;
//     font-size: larger;
// }
// .alert{
//     color:red;
// }

// input{
//     border-radius: 30px;
//     height: 30px;
//     text-align: center;
//     background-color: #F0BA4E;
//    }
//    p{
//        font-size: larger;
//        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
//    }