.btn-delete{
    border-radius: 50px;  background-color: white; border: 3px solid #f0ba4e;  height: 45px;
color: #232321;
margin-left: 40px;
margin-top: -66px;
position: absolute;
display: flex;
align-items: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
}
.btn-delete:hover{
    background-color: #f0ba4e;
    
}